<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="App" type="Application" factoryName="Application">
    <option name="MAIN_CLASS_NAME" value="mj.m2q.Main" />
    <module name="mermaid2queries" />
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>